<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002316881772-1ajpehsa9iisbafleugeh71rp76r8nkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002316881772-1ajpehsa9iisbafleugeh71rp76r8nkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002316881772-1geh8118oml2msrbkt1p8l9l6r6uhanu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5o8pIb_AUKBCRL2ifjEkf0QU2B3L37jY</string>
	<key>GCM_SENDER_ID</key>
	<string>1002316881772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anastech.flutterUberClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002316881772:ios:c5030073d0295a13</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone.firebaseio.com</string>
</dict>
</plist>